# Test
pytest
pytest-helpers-namespace
# For Python <= 3.2
backports.unittest_mock
# Coverage
pytest-cov
# Code Analysis for Python
flake8==3.5.0
flake8-colors
flake8-isort
pydocstyle
# The pep8-naming is used as a plugin for flake8
pep8-naming
# Code Analysis for Bash
bashate
