# Code Analysis for Python
# A temporary workaround not to use flake8 version 5.
# https://github.com/gforcada/flake8-isort/issues/115
flake8 < 5
flake8-colors
flake8-isort
isort
pydocstyle
# The pep8-naming is used as a plugin for flake8
pep8-naming
# Code Analysis for Bash
bashate
