pip
setuptools
# For Python 2.6.
# https://github.com/pypa/virtualenv/commit/73404cb
virtualenv<16.0.0
# For Python 2.6.
# Upstream changed to use "python -m pip", but Pytyon 2.6 does not support it.
# https://github.com/tox-dev/tox/commit/e057755
tox<3.2
# tox on Ubuntu trusty Python 3.4 case needs pathlib2 to run.
pathlib2
