packaging<21.0
pyparsing<3.0.0
importlib_metadata<1.2.0
# pip 19.2 dropped Python 3.4 support.
# https://discuss.python.org/t/pip-19-2-is-now-available/2022
pip<19.2
# setuptools 44.0.0 dropped Python 3.4 support.
# https://github.com/pypa/setuptools/blob/master/CHANGES.rst#v4400
setuptools<44.0.0
# tox on Ubuntu trusty Python 3.4 case needs pathlib2 to run.
pathlib2
virtualenv<16.0.0
tox<3.2
